body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}
.card {
  background: #222;
  padding: 20px;
  margin: 10px auto;
  border-radius: 12px;
  width: 300px;
}
button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
button.off { 
    background: #d33; 
}